/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbe2e0;
}

header {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

section {
    width: 30%;
}

/* Estilos específicos para cada seção */
.editor, .visualizacao, .biblioteca {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

/* Estilos para o contêiner do visualizador */
.viewer-container {
    width: 100%;
    height: 400px; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Espaçamento entre os visualizadores */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Para esconder qualquer parte do visualizador que ultrapasse o contêiner */
}

/* Estilos para mobile */
@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    section {
        width: 100%;
        margin-bottom: 1rem;
    }
}